@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@media screen and (max-width: 992px) {
  html {
    font-size: 0.9375rem; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

/*.visuallyhidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column; }

.section {
  background-color: rgba(0, 0, 0, 0.31);
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  overflow: hidden; }

.order-link {
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e45028;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }
  .order-link.order-link_hidden {
    display: none; }

.burger-link {
  height: 1.375rem;
  display: none;
  align-items: center;
  margin-left: 1.875rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .burger-link {
      display: flex; } }
  .burger-link.burger-link_change {
    background: url("../../img/content/close-white.png");
    width: 20px;
    height: 20px; }
    .burger-link.burger-link_change .burger-link__item {
      display: none; }

.burger-link__item, .burger-link__item:before, .burger-link__item:after {
  background: #ffffff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }
.burger-link__item:before, .burger-link__item:after {
  content: "";
  display: block;
  position: absolute; }
.burger-link__item:before {
  top: 0; }
.burger-link__item:after {
  bottom: 0; }

.section__title {
  color: #f9b43b;
  font-family: "Gagalin", Helvetica, sans-serif;
  font-size: 4.5rem; }

.nav-section-dot_hidden {
  display: none; }

.point-list {
  position: fixed;
  right: 50px;
  top: 90px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 2; }

.point-list__item {
  position: relative;
  width: 18px;
  height: 18px;
  margin-bottom: 5px; }
  .point-list__item:hover .point-list__dot:before {
    content: '';
    position: relative;
    opacity: 1;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    width: 16px;
    height: 16px; }
  .point-list__item:last-child {
    margin-bottom: 0; }

.point-list__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .point-list__dot:before {
    content: '';
    opacity: 0;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: all .5s; }
  .point-list__dot:after {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #ffffff; }

.point-list__item_active .point-list__dot:before {
  content: '';
  position: relative;
  opacity: 1;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3234;
  z-index: 3; }

.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4; }
  .popup_show {
    display: flex;
    justify-content: center;
    align-items: center; }

.popup__container {
  position: relative;
  max-width: 460px;
  padding: 30px 20px 20px;
  background-color: #ffffff;
  color: #2f3234;
  border-radius: 4px;
  margin: 0 20px;
  font-weight: 300; }

.review-popup__close {
  position: absolute;
  background: url("../../img/content/close.png") center center no-repeat;
  width: 18px;
  height: 18px;
  top: 20px;
  right: 20px; }

.review-popup__title {
  font-family: "Gagalin", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 20px; }

.status-popup__close {
  margin-top: 10px; }

.status-popup__inner {
  display: flex;
  flex-direction: column;
  align-items: center; }

.wemake {
  background: url("../../img/bg/wemake_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.header {
  display: flex;
  align-items: center;
  padding-top: 0.625rem; }
  .header.header_fixed {
    position: fixed;
    z-index: 4;
    width: 95%; }

.header__logo {
  margin-right: auto; }

.nav-list {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .nav-list {
      display: none; } }

.fixed-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .fixed-menu .nav-list__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fixed-menu .nav-list__item:after {
      margin: 1.25rem 0.75rem; }
  .fixed-menu .nav-list__link {
    font-size: 24px; }

.nav-list__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav-list__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #ffffff;
    margin: 0 0.75rem; }
  .nav-list__item:last-child:after {
    display: none; }

.nav-list__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  transition: .5s; }
  .nav-list__link:hover {
    text-decoration: underline; }

.header__btn {
  display: flex;
  align-items: center; }

.wemake__content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 10%; }
  @media screen and (max-width: 768px) {
    .wemake__content {
      flex-wrap: wrap;
      justify-content: center; } }

.wemake__img, .wemake__description {
  flex-basis: 50%;
  display: flex; }
  @media screen and (max-width: 768px) {
    .wemake__img, .wemake__description {
      flex-basis: 80%;
      text-align: center;
      justify-content: center; } }

.wemake__img-pic {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .wemake__img-pic {
      width: 70%;
      justify-content: center; } }

.wemake__description {
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .wemake__description {
      flex-wrap: nowrap; } }

.wemake__description-text {
  color: #ffffff;
  font-family: "Lifehack";
  font-size: 4.0625rem;
  line-height: 1; }

.nav-section-arrow {
  display: flex;
  justify-content: center; }

.scroll-arrow {
  background: url("../../img/icons/arrow-scroll.svg") no-repeat;
  cursor: pointer;
  margin-bottom: 2.5rem;
  width: 29px;
  height: 14px; }

.webest {
  background: url("../../img/bg/webest_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.webest__container {
  justify-content: center;
  align-items: center; }

.section__title_black {
  color: #2f3234; }

.webest-list {
  display: flex;
  align-items: baseline;
  margin-top: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .webest-list {
      flex-direction: column; } }

.webest-list__item {
  margin-right: 2.5rem;
  flex-basis: 30%;
  text-align: center; }
  .webest-list__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .webest-list__item {
      flex-basis: 100%;
      display: flex;
      text-align: left;
      margin-right: 0;
      margin-bottom: 60px; } }

.webest-list__icon {
  width: 97px;
  height: 90px; }
  .webest-list__icon_view_meat {
    fill: #e35028; }
  .webest-list__icon_view_hand {
    fill: #f8b43a; }
  .webest-list__icon_view_natural {
    fill: #8ac03e; }
  @media screen and (max-width: 480px) {
    .webest-list__icon {
      margin-right: 1.25rem; } }

@media screen and (max-width: 480px) {
  .webest-list__desctiption {
    flex-basis: 69%;
    margin-left: 20px; } }

.webest-list__subtitle {
  color: #2f3234;
  font-family: "Lifehack";
  font-size: 1.5rem;
  margin-top: 1.875rem; }
  @media screen and (max-width: 480px) {
    .webest-list__subtitle {
      margin-top: 0; } }

.webest-list__text {
  color: #2f3234;
  opacity: 0.8;
  font-weight: 300;
  line-height: 1.8; }

.team {
  background: url("../../img/bg/team_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  width: 49%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(47, 50, 52, 0.93);
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      text-align: center; } }

.team__section-title {
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .team__section-title {
      padding-top: 1.875rem; } }

.team__content {
  margin: 3.75rem 2.1875rem 0 8.75rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px; } }

.team-list {
  margin-top: 2.5rem; }
  @media screen and (max-width: 768px) {
    .team-list {
      width: 75%;
      margin: 2.5rem auto 0; } }

.team-list__item {
  margin-bottom: 30px;
    /*&:hover{

        .team-list__name{
            color:$yellow;
            align-items: flex-start;

            &:before{
                transform: rotate(-180deg);
            }
        }

        .team-list__operator{
            height: auto;
            margin-top: rem(15px);
        }
    }*/ }
  .team-list__item:last-child {
    margin-bottom: 0; }

.team-list__item_opened .team-list__name {
  color: #f9b43b;
  align-items: flex-start; }
  .team-list__item_opened .team-list__name:before {
    transform: rotate(-180deg); }
.team-list__item_opened .team-list__operator {
  height: auto;
  margin-top: 0.9375rem; }

.team-list__name {
  font-family: "Gagalin", Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  transition: all .5s; }
  .team-list__name:before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-width: 5px;
    border-left-width: 5px;
    border-top-color: #f9b43b;
    margin-right: 0.625rem;
    transition: all .5s; }
  @media screen and (max-width: 768px) {
    .team-list__name {
      justify-content: center;
      font-size: 1.5rem; } }

.team-list__operator {
  height: 0;
  transition: all .5s;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .team-list__operator {
      display: flex;
      flex-direction: column; } }

.team-list__operator-avatar {
  width: 6.375rem;
  height: 6.375rem;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .team-list__operator-avatar {
      margin: 0 auto; } }

.team-list__operator-img {
  width: 100%;
  height: 100%; }

.team-list__operator-description {
  color: #ffffff;
  flex: 1;
  margin-left: 0.9375rem;
  font-weight: 300;
  line-height: 1.9; }
  @media screen and (max-width: 768px) {
    .team-list__operator-description {
      margin: 0 auto; } }

.team-list__operator-description p {
  margin: 0; }

.team-list__operator-position {
  font-weight: 700;
  margin: 0 auto 0.625rem; }
  @media screen and (max-width: 768px) {
    .team-list__operator-position {
      margin-top: 0.625rem; } }

.slider {
  background: #f9b43b;
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%); }

.slider__container {
  position: relative;
  align-items: center; }

.slider__control-arrow {
  display: flex; }

.slider__slide-arrow {
  height: 100%;
  position: absolute;
  width: 30px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center; }
  .slider__slide-arrow:before {
    content: ' ';
    background: url("../../img/icons/arrow-scroll.svg") no-repeat;
    width: 29px;
    height: 14px;
    transform-origin: center center; }
  .slider__slide-arrow_direction_left {
    left: 0;
    transform: translateX(-100%); }
    .slider__slide-arrow_direction_left:before {
      transform: rotate(90deg); }
    @media screen and (max-width: 768px) {
      .slider__slide-arrow_direction_left {
        transform: translateX(-70%); } }
    @media screen and (max-width: 480px) {
      .slider__slide-arrow_direction_left {
        transform: translateX(-50%); } }
  .slider__slide-arrow_direction_right {
    right: 0;
    transform: translateX(100%); }
    .slider__slide-arrow_direction_right:before {
      transform: rotate(-90deg); }
    @media screen and (max-width: 768px) {
      .slider__slide-arrow_direction_right {
        transform: translateX(70%); } }
    @media screen and (max-width: 480px) {
      .slider__slide-arrow_direction_right {
        transform: translateX(50%); } }

.slider__list {
  display: flex;
  height: 100%;
  align-items: center;
  width: calc(100% - 3.75rem); }

.slider__item {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 100px; }
  @media screen and (max-width: 768px) {
    .slider__item {
      flex-wrap: wrap;
      justify-content: center; } }

.slider__content-column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .slider__content-column {
      flex-basis: 70%;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .slider__content-column {
      flex-basis: 100%; } }

.slider__composition-icon-wrap {
  position: absolute;
  left: 0;
  width: 5.9375rem;
  height: 5.9375rem;
  transform: translateY(-100%);
  z-index: 3; }
  .slider__composition-icon-wrap:hover .slider__composition-icon_view_burger {
    background-color: #e35028; }
  .slider__composition-icon-wrap:hover .slider__composition-list {
    display: block; }

.slider__kkal-icon-wrap {
  position: absolute;
  width: 5.9375rem;
  height: 5.9375rem;
  bottom: 0;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .slider__kkal-icon-wrap {
      right: 0;
      transform: translateY(-100%);
      bottom: initial; } }

.slider__composition-icon {
  position: absolute;
  width: 45px;
  height: 85px;
  padding: 0.3125rem 1.5625rem;
  fill: white;
  text-transform: uppercase;
  font-family: "Gagalin", Helvetica, sans-serif; }
  @media screen and (max-width: 480px) {
    .slider__composition-icon {
      padding: 0 0.625rem; } }
  .slider__composition-icon_view_burger {
    top: 0;
    left: 0;
    background-color: #f08c33;
    border-radius: 4px;
    cursor: pointer; }
  .slider__composition-icon_view_kkal {
    bottom: 0;
    fill-opacity: .5; }
    .slider__composition-icon_view_kkal .slider__composition-icon-text {
      font-size: 17px; }
    @media screen and (max-width: 768px) {
      .slider__composition-icon_view_kkal {
        top: 0;
        right: 0; } }

.slider__composition-list {
  display: none;
  position: absolute;
  top: 0;
  left: 5.9375rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2f3234;
  padding: 1.25rem;
  border-radius: 0.25rem; }
  .slider__composition-list:before {
    display: none; }
  @media screen and (max-width: 768px) {
    .slider__composition-list:before {
      content: '';
      background: url("../../img/content/close.png") center center no-repeat;
      width: 18px;
      height: 18px;
      display: block;
      right: 1.125rem;
      position: absolute;
      cursor: pointer; } }

.slider__composition-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem; }
  .slider__composition-list-item:last-child {
    margin-bottom: 0; }

.slider__composition-list-element {
  margin-right: 1.5625rem; }
  .slider__composition-list-element:last-child {
    margin-right: 0; }

.slider__composition-list-icon {
  width: 2.6875rem;
  height: 2.4375rem; }
  .slider__composition-list-icon_view_beef, .slider__composition-list-icon_view_sauce {
    fill: #e35028; }
  .slider__composition-list-icon_view_salad, .slider__composition-list-icon_view_cucumber {
    fill: #8ac03e; }
  .slider__composition-list-icon_view_cheese, .slider__composition-list-icon_view_buns {
    fill: #f8b43a; }

.slider__composition-list-name {
  font-weight: 500; }

.slider__composition-list-weight {
  font-weight: 300;
  margin-left: auto;
  white-space: nowrap;
  text-align: right;
  width: 6.25rem; }
  @media screen and (max-width: 768px) {
    .slider__composition-list-weight {
      text-align: center; } }

.slider__image {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .slider__image {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .slider__image {
      width: 60%; } }

.slider__section-title {
  color: #ffffff;
  line-height: .9;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .slider__section-title {
      text-align: center;
      font-size: 2.875rem; } }

.slider__description {
  font-weight: 300;
  line-height: 1.8; }
  @media screen and (max-width: 768px) {
    .slider__description {
      text-align: center; } }

.slider__order {
  margin-top: 0.9375rem;
  display: flex;
  align-items: baseline; }
  @media screen and (max-width: 768px) {
    .slider__order {
      justify-content: center; } }

.slider__price {
  font-family: "Gagalin", Helvetica, sans-serif;
  font-size: 1.875rem;
  color: #e35028;
  margin-right: 1.875rem; }
  .slider__price .slider__price-value {
    font-size: 4.5rem; }

.menu {
  background: url("../../img/bg/menu_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.section__title_white {
  color: #ffffff;
  margin-left: 80px;
  margin-right: auto; }

.menu__section-title {
  padding-top: 60px; }

.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 75%;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .menu-list {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .menu-list {
      width: 100%; } }

.menu-list__item {
  height: 100%;
  display: flex; }
  .menu-list__item_opened .menu-list__title {
    color: #f9b43b; }
  .menu-list__item_opened .menu-list__content {
    width: 100%; }

.menu-list__title-wrap {
  height: 100%;
  width: 80px;
  position: relative; }
  .menu-list__title-wrap:before {
    content: '';
    position: absolute;
    width: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .menu-list__title-wrap:after {
    content: '';
    position: absolute;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .menu-list__title-wrap_bg_meat:before {
    background: url("../../img/content/meat_bg.jpg") 50% 50% no-repeat;
    background-size: cover; }
  .menu-list__title-wrap_bg_veg:before {
    background: url("../../img/content/veg_bg.jpg") 50% 50% no-repeat;
    background-size: cover; }
  .menu-list__title-wrap_bg_diet:before {
    background: url("../../img/content/diet_bg.jpg") 50% 50% no-repeat;
    background-size: cover; }

.menu-list__title {
  font-family: "Gagalin";
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  display: block;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  left: 50%;
  top: 100%;
  margin-top: -20px; }

.menu-list__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  /*transition: all 1s;*/
  overflow: hidden; }

.menu-list__description {
  width: calc(100% - 3.75rem);
  height: 100%;
  padding: 3.75rem 1.875rem;
  line-height: 1.8;
  font-weight: 300;
  color: #ffffff;
  overflow: hidden; }

.reviews-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.reviews-list__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.reviews-list__item {
  position: relative;
  width: 25%;
  height: 50%; }
  .reviews-list__item:hover .reviews-list__text {
    opacity: .7; }
  @media screen and (max-width: 768px) {
    .reviews-list__item {
      width: 50%;
      height: 25%; } }

.reviews-list__img-wrap {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.reviews-list__text {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  position: absolute;
  background-color: #000000;
  opacity: 0;
  transition: all .5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews-list__text {
      padding: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    .reviews-list__text {
      justify-content: center;
      padding: 40px; } }

.reviews-list__reviewer-name {
  color: #ffffff;
  font-family: "Gagalin", Helvetica, sans-serif;
  margin: 1.25rem 0 0.3125rem;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews-list__reviewer-name {
      text-align: center;
      margin: 0.3125rem auto 0; } }
  @media screen and (max-width: 480px) {
    .reviews-list__reviewer-name {
      font-size: 1.5rem;
      margin-bottom: 20px; } }

.reviews-list__reviewer-text {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.8;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews-list__reviewer-text {
      text-align: center;
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .reviews-list__reviewer-text {
      display: none; } }

.reviews-list__more-btn {
  padding: 0.75rem;
  background-color: #2f3234;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  border-radius: 0.25rem;
  opacity: 1; }
  .reviews-list__more-btn:hover {
    background-color: #1f2122;
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews-list__more-btn {
      margin: 0.3125rem auto 0; } }
  @media screen and (max-width: 480px) {
    .reviews-list__more-btn {
      display: none; } }

.reviews-list__more-btn_text_read {
  display: none;
  font-weight: 500; }
  @media screen and (max-width: 480px) {
    .reviews-list__more-btn_text_read {
      display: block; } }

.form {
  background: url("../../img/bg/form_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

@media screen and (max-width: 768px) {
  .form__section-title {
    text-align: center; } }

.form__container {
  align-items: center;
  justify-content: center; }

.form__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3.125rem; }
  @media screen and (max-width: 768px) {
    .form__content {
      flex-wrap: wrap;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .form__content {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap; } }

.form__column {
  flex-basis: 50%;
  margin-right: 1.25rem; }
  .form__column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__column {
      flex-basis: 70%;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__column {
      flex-basis: 100%;
      margin-right: 0;
      width: 100%;
      text-align: center; } }

.form__row {
  display: flex;
  margin-bottom: 1.25rem; }

@media screen and (max-width: 480px) {
  .form__row_type_radio {
    display: inline-flex;
    justify-content: center; } }

.form__fieldset {
  margin-right: 1.25rem;
  width: 100%; }

.form__fieldset-title, .form__fieldset-title-radio, .form__fieldset-title-checkbox {
  font-weight: 300;
  color: #ffffff;
  text-align: left; }

.form__fieldset-input {
  border: 1px solid #d1cfcb;
  border-radius: 0.25rem;
  line-height: 2.0625rem;
  padding: 0 1.25rem;
  color: #2f3234;
  font-weight: 300;
  width: calc(100% - 2.5rem);
  outline: none; }
  .form__fieldset-input:focus {
    border: 1px solid #f9b43b; }
  @media screen and (max-width: 480px) {
    .form__fieldset-input {
      line-height: 2.5rem; } }

.form__fieldset-textarea {
  resize: none;
  border-radius: 0.25rem;
  width: 100%;
  height: 100px;
  outline: none;
  color: #2f3234; }
  .form__fieldset-textarea:focus {
    border: 1px solid #f9b43b; }

.form__fieldset-radio {
  display: none; }
  .form__fieldset-radio:checked + .form__fieldset-title-radio:after {
    display: block; }

.form__fieldset-title-radio {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  white-space: nowrap; }
  .form__fieldset-title-radio:before {
    content: '';
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 0;
    border-radius: 50%;
    margin-right: 0.625rem; }
  .form__fieldset-title-radio:after {
    content: ' ';
    display: none;
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #e35028;
    border-radius: 50%;
    top: 6px;
    left: 4px; }

.form__fieldset-checkbox {
  display: none; }
  .form__fieldset-checkbox:checked + .form__fieldset-title-checkbox:after {
    display: block; }

.form__fieldset-title-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .form__fieldset-title-checkbox:before {
    content: '';
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 0;
    margin-right: 0.625rem; }
  .form__fieldset-title-checkbox:after {
    content: ' ';
    background: url("../../img/icons/check.svg") 50% no-repeat transparent;
    background-size: contain;
    display: none;
    position: absolute;
    color: #e35028;
    width: 11px;
    height: 9px;
    top: 4px;
    left: 2px; }

.form__order-link {
  border: 0;
  outline: none; }

.cancel-link {
  font-weight: 300;
  color: #ffffff;
  margin-left: 1.25rem;
  border: 0;
  background-color: transparent;
  outline: none; }

.map__container {
  background: url("../../img/bg/map_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.footer {
  background: url("../../img/bg/footer_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0; }

.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .footer__container {
      flex-direction: column; } }

.footer__column {
  flex-basis: 50%; }

.contacts {
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff; }
  @media screen and (max-width: 480px) {
    .contacts {
      margin-bottom: 10px; } }

.contacts__phone {
  display: flex;
  align-items: center;
  color: #e45028;
  font-weight: 700; }
  .contacts__phone:before {
    content: ' ';
    background: url("../../img/icons/phone.svg") 50% no-repeat transparent;
    background-size: contain;
    color: #e45028;
    width: 0.75rem;
    height: 0.6875rem;
    margin-right: 0.625rem; }
  @media screen and (max-width: 480px) {
    .contacts__phone {
      justify-content: center; } }

.socials-list {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.socials-list__item {
  margin-right: 1.25rem; }
  .socials-list__item:hover .socials-list__link {
    opacity: 1; }
  .socials-list__item:last-child {
    margin-right: 0; }

.socials-list__link {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
  width: 1.25rem;
  height: 1.25rem; }
  .socials-list__link_view_vk {
    background-image: url("../../img/icons/vk.svg"); }
  .socials-list__link_view_fb {
    background-image: url("../../img/icons/fb.svg"); }
  .socials-list__link_view_inst {
    background-image: url("../../img/icons/inst.svg"); }
  .socials-list__link_view_tw {
    background-image: url("../../img/icons/twitter.svg"); }