.reviews{
   // height: 100%;
}

.reviews-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.reviews-list__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.reviews-list__item{
    position: relative;
    width: 25%;
    height: 50%;

    &:hover .reviews-list__text{
        opacity: .7;
    }

    @include tablets{
        width: 50%;
        height: 25%;
    }
}

.reviews-list__img-wrap{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

.reviews-list__img{
    width: 100%;
    height: 100%;
    display: block;
}

.reviews-list__text{
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;

}

.reviews-list__text-hidden {
    position: absolute;
    background-color: #000000;
    opacity: 0;
    transition: all .5s;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: rem(20px);

    @include tablets{
        padding: rem(15px);
    }
}


.reviews-list__reviewer-name{
    color: $white;
    @include gagalin();
    margin: rem(20px) 0 rem(5px);
    opacity: 1;

    @include tablets{
        text-align: center;
        margin: rem(5px) auto 0;
    }
}

.reviews-list__reviewer-text {
    color: $white;
    font-weight: 300;
    line-height: 1.8;
    opacity: 1;

    @include tablets{
        text-align: center;

        margin: 0;
    }
}

.reviews-list__more-btn{
    padding: rem(12px);
    background-color: $dark;
    color: $white;
    display: block;
    text-transform: uppercase;
    border-radius: rem(4px);
    opacity: 1;

    &:hover{
        background-color: #1f2122;
        opacity: 1;
    }

    @include tablets{
        margin: rem(5px) auto 0;
    }
}