.webest {
    background: url('../img/bg/webest_bg.png') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.webest__container{
    justify-content: center;
    align-items: center;
}

.section__title_black {
    color: #2f3234;
}

.webest-list {
    display: flex;
    align-items: baseline;
    margin-top:25px;
}

.webest-list__item {
    margin-right: 40px;
    flex:3;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.webest-list__subtitle {
    color: #000000;
    font-family: 'Lifehack';
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
}

.webest-list__text {
    color: #2f3234;
    opacity: 0.8;
    font-weight: 300;
    line-height: 1.8;
}