.wemake {
    background: url('../img/bg/wemake_bg.png') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    /*width: 100%;*/
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding-top: 10px;

}

.header__logo {
    margin-right: auto;
}


.nav {
    margin-right: 15px;
}

.nav-list__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        @include circle(5px, #fff);
        margin: 0 12px;
    }
    &:last-child:after {
        display: none;
    }
}

.nav-list__link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}

.wemake__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 15%;
}

.wemake__img, .wemake__description {
    flex-basis: 50%;
    display: flex;
}

.wemake__description {
    flex-direction: column;
    justify-content: center;
}

.wemake__description-text {
    color: #ffffff;
    font-family: 'Lifehack';
    font-size: 65px;
    line-height: 1;
}