.menu {
    background: url('../img/bg/menu_bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.section__title_white{
    color:#ffffff;
    margin-left: 80px;
    margin-right: auto;
}

.menu__section-title{
    padding-top: 60px;
}

.menu-list{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width: 75%;
    display: flex;
    justify-content: flex-end;

    @include tablets{
        width: 100%;
    }

    @include phones{
        width: 100%;
    }
}

.menu-list__item{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    width: 80px;
    transition: all .5s;


    &_opened{
        width: 100%;
        transition-delay: 0.1s;
        .menu-list__title{
            color:#f9b43b;
        }

        .menu-list__content{
            width: 100%;
            transition: all .5s;
        }
    }
}

.menu-list__title-wrap{
    height: 100%;
    width: 80px;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        width: 80px;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }

    &:after {
        content: '';
        position: absolute;
        width: 80px;
        background-color: rgba(#000000, .7);
        top:0;
        bottom:0;
        left:0;
        right:0;
    }

    &_bg_meat{
        &:before {
            background: url('../img/content/meat_bg.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }

    &_bg_veg{
        &:before {
            background: url('../img/content/veg_bg.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }

    &_bg_diet{
        &:before {
            background: url('../img/content/diet_bg.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }
}

.menu-list__title{
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 40px;
    color: #ffffff;
    display: block;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    left: 50%;
    top: 100%;
    margin-top: -20px;
}


.menu-list__content {
    height: 100%;
    float: left;
    background: rgba(#2f3234, .93);
    width: 0;
    /*transition: all 1s;*/
    overflow: hidden;
    transition: all .5s;
    transition-delay: 0.2s;
}

.menu-list__description{
    width: calc(100% - #{rem(60px)});
    height: 100%;
    padding: rem(60px) rem(30px);
    line-height: 1.8;
    font-weight: 300;
    color: #ffffff;
    overflow: hidden;
}