.webest {
    background: url('../../img/bg/webest_bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.webest__container{
    justify-content: center;
    align-items: center;
}

.section__title_black {
    color: $dark;
}

.webest-list {
    display: flex;
    align-items: baseline;
    margin-top:rem(25px);

    @include phones{
        flex-direction: column;
    }
}

.webest-list__item {
    margin-right: rem(40px);
    flex-basis:30%;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    @include phones{
        flex-basis:100%;
        display: flex;
        text-align: left;
        margin-right: 0;
        margin-bottom: 60px;
    }
}

.webest-list__icon{
    width: 97px;
    height: 90px;

    &_view_meat{

        fill: $red;
    }

    &_view_hand{

        fill: $yellowliter;
    }

    &_view_natural{

        fill: $green;
    }
    @include phones{
        margin-right: rem(20px);
    }
}

.webest-list__desctiption{
    @include phones{
        flex-basis: 69%;
        margin-left: 20px;
    }
}

.webest-list__subtitle {
    color: $dark;
    @include lifehack();
    font-size: rem(24px);
    margin-top: rem(30px);

    @include phones{
        margin-top: 0;
    }
}

.webest-list__text {
    color: $dark;
    opacity: 0.8;
    font-weight: 300;
    line-height: 1.8;
}